tqdm
numpy

pandas>=1.5
omegaconf>=2.3.0
torch>=1.13

pytest==7.2.*
pytorch_lightning==1.9.*
scikit_learn==1.2.*
scipy==1.10.*
smact==2.5.*
sympy==1.11.*
torch_geometric==2.2.*
torch_scatter==2.1.*
torch_sparse==0.6.*

p_tqdm==1.4.0
matminer==0.8.0
networkx==3.0
pymatgen==2023.2.28
